doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'
        server_version: '14.6'
        profiling_collect_backtrace: '%kernel.debug%'
        use_savepoints: true
        options:
            sslmode: require
        
        # THIS IS CRITICAL: Filter out Supabase schemas to prevent Doctrine from touching them
        schema_filter: ~^(?!(auth|storage|realtime|vault|graphql|supabase_functions|supabase_migrations|extensions|pgbouncer)\.)~

        mapping_types:
            # PostgreSQL array types (prefixed with _)
            _aal_level: string
            _aclitem: string
            _bool: string
            _bytea: string
            _char: string
            _cidr: string
            _float4: string
            _float8: string
            _inet: string
            _int2: string
            _int4: string
            _int8: string
            _json: string
            _jsonb: string
            _name: string
            _numeric: string
            _oid: string
            _text: string
            _timestamp: string
            _timestamptz: string
            _user_defined_filter: string
            _uuid: string
            _varchar: string
            
            # Regular types
            aal_level: string
            aclitem: string
            action: string
            administrable_role_authorizations: string
            any: string
            anyarray: string
            anycompatible: string
            anycompatiblearray: string
            anycompatiblemultirange: string
            anycompatiblenonarray: string
            anycompatiblerange: string
            anyelement: string
            anyenum: string
            anymultirange: string
            anynonarray: string
            anyrange: string
            applicable_roles: string
            attributes: string
            audit_log_entries: string
            bit: string
            bool: boolean
            box: string
            bpchar: string
            buckets: string
            buckets_analytics: string
            buckettype: string
            bytea: blob
            cardinal_number: string
            char: string
            character_data: string
            character_sets: string
            check_constraint_routine_usage: string
            check_constraints: string
            cid: string
            cidr: string
            circle: string
            code_challenge_method: string
            collation_character_set_applicability: string
            collations: string
            column_column_usage: string
            column_domain_usage: string
            column_options: string
            column_privileges: string
            column_udt_usage: string
            columns: string
            constraint_column_usage: string
            constraint_table_usage: string
            cstring: string
            data_type_privileges: string
            date: date
            daterange: string
            decrypted_secrets: string
            doctrine_migration_versions: string
            domain_constraints: string
            domain_udt_usage: string
            domains: string
            element_types: string
            enabled_roles: string
            equality_op: string
            event_trigger: string
            factor_status: string
            factor_type: string
            fdw_handler: string
            float4: float
            float8: float
            flow_state: string
            foreign_data_wrapper_options: string
            foreign_data_wrappers: string
            foreign_server_options: string
            foreign_servers: string
            foreign_table_options: string
            foreign_tables: string
            gtsvector: string
            identities: string
            index_am_handler: string
            inet: string
            information_schema_catalog_name: string
            instances: string
            int2: smallint
            int2vector: string
            int4: integer
            int4range: string
            int8: bigint
            int8range: string
            internal: string
            interval: string
            json: json
            jsonb: json
            jsonpath: string
            key_column_usage: string
            language_handler: string
            line: string
            lseg: string
            macaddr: string
            macaddr8: string
            messages: string
            mfa_amr_claims: string
            mfa_challenges: string
            mfa_factors: string
            migrations: string
            money: decimal
            name: string
            numeric: decimal
            numrange: string
            oauth_authorization_status: string
            oauth_authorizations: string
            oauth_client_type: string
            oauth_clients: string
            oauth_consents: string
            oauth_registration_type: string
            oauth_response_type: string
            objects: string
            oid: string
            oidvector: string
            one_time_token_type: string
            one_time_tokens: string
            parameters: string
            path: string
            pg_aggregate: string
            pg_am: string
            pg_amop: string
            pg_amproc: string
            pg_attrdef: string
            pg_attribute: string
            pg_auth_members: string
            pg_authid: string
            pg_available_extension_versions: string
            pg_available_extensions: string
            pg_backend_memory_contexts: string
            pg_brin_bloom_summary: string
            pg_brin_minmax_multi_summary: string
            pg_cast: string
            pg_class: string
            pg_collation: string
            pg_config: string
            pg_constraint: string
            pg_conversion: string
            pg_cursors: string
            pg_database: string
            pg_db_role_setting: string
            pg_ddl_command: string
            pg_default_acl: string
            pg_depend: string
            pg_dependencies: string
            pg_description: string
            pg_enum: string
            pg_event_trigger: string
            pg_extension: string
            pg_file_settings: string
            pg_foreign_data_wrapper: string
            pg_foreign_server: string
            pg_foreign_table: string
            pg_group: string
            pg_hba_file_rules: string
            pg_ident_file_mappings: string
            pg_index: string
            pg_indexes: string
            pg_inherits: string
            pg_init_privs: string
            pg_language: string
            pg_largeobject: string
            pg_largeobject_metadata: string
            pg_locks: string
            pg_lsn: string
            pg_matviews: string
            pg_mcv_list: string
            pg_namespace: string
            pg_ndistinct: string
            pg_node_tree: string
            pg_opclass: string
            pg_operator: string
            pg_opfamily: string
            pg_parameter_acl: string
            pg_partitioned_table: string
            pg_policies: string
            pg_policy: string
            pg_prepared_statements: string
            pg_prepared_xacts: string
            pg_proc: string
            pg_publication: string
            pg_publication_namespace: string
            pg_publication_rel: string
            pg_publication_tables: string
            pg_range: string
            pg_replication_origin: string
            pg_replication_origin_status: string
            pg_replication_slots: string
            pg_rewrite: string
            pg_roles: string
            pg_rules: string
            pg_seclabel: string
            pg_seclabels: string
            pg_sequence: string
            pg_sequences: string
            pg_settings: string
            pg_shadow: string
            pg_shdepend: string
            pg_shdescription: string
            pg_shmem_allocations: string
            pg_shseclabel: string
            pg_snapshot: string
            pg_stat_activity: string
            pg_stat_all_indexes: string
            pg_stat_all_tables: string
            pg_stat_archiver: string
            pg_stat_bgwriter: string
            pg_stat_checkpointer: string
            pg_stat_database: string
            pg_stat_database_conflicts: string
            pg_stat_gssapi: string
            pg_stat_io: string
            pg_stat_progress_analyze: string
            pg_stat_progress_basebackup: string
            pg_stat_progress_cluster: string
            pg_stat_progress_copy: string
            pg_stat_progress_create_index: string
            pg_stat_progress_vacuum: string
            pg_stat_recovery_prefetch: string
            pg_stat_replication: string
            pg_stat_replication_slots: string
            pg_stat_slru: string
            pg_stat_ssl: string
            pg_stat_statements: string
            pg_stat_statements_info: string
            pg_stat_subscription: string
            pg_stat_subscription_stats: string
            pg_stat_sys_indexes: string
            pg_stat_sys_tables: string
            pg_stat_user_functions: string
            pg_stat_user_indexes: string
            pg_stat_user_tables: string
            pg_stat_wal: string
            pg_stat_wal_receiver: string
            pg_stat_xact_all_tables: string
            pg_stat_xact_sys_tables: string
            pg_stat_xact_user_functions: string
            pg_stat_xact_user_tables: string
            pg_statio_all_indexes: string
            pg_statio_all_sequences: string
            pg_statio_all_tables: string
            pg_statio_sys_indexes: string
            pg_statio_sys_sequences: string
            pg_statio_sys_tables: string
            pg_statio_user_indexes: string
            pg_statio_user_sequences: string
            pg_statio_user_tables: string
            pg_statistic: string
            pg_statistic_ext: string
            pg_statistic_ext_data: string
            pg_stats: string
            pg_stats_ext: string
            pg_stats_ext_exprs: string
            pg_subscription: string
            pg_subscription_rel: string
            pg_tables: string
            pg_tablespace: string
            pg_timezone_abbrevs: string
            pg_timezone_names: string
            pg_transform: string
            pg_trigger: string
            pg_ts_config: string
            pg_ts_config_map: string
            pg_ts_dict: string
            pg_ts_parser: string
            pg_ts_template: string
            pg_type: string
            pg_user: string
            pg_user_mapping: string
            pg_user_mappings: string
            pg_views: string
            pg_wait_events: string
            point: string
            polygon: string
            prefixes: string
            record: string
            refcursor: string
            referential_constraints: string
            refresh_tokens: string
            regclass: string
            regcollation: string
            regconfig: string
            regdictionary: string
            regnamespace: string
            regoper: string
            regoperator: string
            regproc: string
            regprocedure: string
            regrole: string
            regtype: string
            role_column_grants: string
            role_routine_grants: string
            role_table_grants: string
            role_udt_grants: string
            role_usage_grants: string
            routine_column_usage: string
            routine_privileges: string
            routine_routine_usage: string
            routine_sequence_usage: string
            routines: string
            s3_multipart_uploads: string
            s3_multipart_uploads_parts: string
            saml_providers: string
            saml_relay_states: string
            schema_migrations: string
            schemata: string
            secrets: string
            sequences: string
            sessions: string
            sql_features: string
            sql_identifier: string
            sql_implementation_info: string
            sql_parts: string
            sql_sizing: string
            sso_domains: string
            sso_providers: string
            subscription: string
            table_am_handler: string
            table_constraints: string
            table_privileges: string
            tables: string
            text: text
            tid: string
            time: time
            time_stamp: string
            timestamptz: datetimetz
            timetz: time
            transforms: string
            trigger: string
            triggered_update_columns: string
            triggers: string
            tsm_handler: string
            tsquery: string
            tsrange: string
            tstzrange: string
            tsvector: string
            txid_snapshot: string
            udt_privileges: string
            unknown: string
            usage_privileges: string
            user_defined_filter: string
            user_defined_types: string
            user_mapping_options: string
            user_mappings: string
            users: string
            uuid: guid
            varbit: string
            varchar: string
            view_column_usage: string
            view_routine_usage: string
            view_table_usage: string
            views: string
            void: string
            wal_column: string
            wal_rls: string
            xid: string
            xid8: string
            xml: string
            yes_or_no: string

    orm:
        auto_generate_proxy_classes: true
        enable_lazy_ghost_objects: true
        report_fields_where_declared: true
        validate_xml_mapping: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        identity_generation_preferences:
            Doctrine\DBAL\Platforms\PostgreSQLPlatform: identity
        auto_mapping: true
        mappings:
            App:
                type: attribute
                is_bundle: false
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                alias: App

when@test:
    doctrine:
        dbal:
            dbname_suffix: '_test%env(default::TEST_TOKEN)%'

when@prod:
    doctrine:
        orm:
            auto_generate_proxy_classes: false
            proxy_dir: '%kernel.build_dir%/doctrine/orm/Proxies'
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool

    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.app
                doctrine.system_cache_pool:
                    adapter: cache.system